h2 {
  font-size: 3rem !important; 
  font-family: 'Righteous', cursive;
}

h1 {
  font-size: 4rem !important;
  font-family: 'Righteous', cursive;
}

.App {
  text-align: center;
}
.footericon:hover { 
  color: lightgray; 
}

.logo {
  height:75px;
}

.badgeLogo {
  height: 100px;
}

.badgedesc {
  font-size: 18px;
  font-weight: bold;
}

.badgecompdate {
  font-size: 14px;
}

.skillslogo {
  font-size: 5rem;
}

.intro {
  background-color: #272822;
  color: whitesmoke;
}

.projects {
  background-color: #272822;
  color: whitesmoke;
}

.footer {
  background-color:#272822;
}

.socialicon {
  font-size: 2.5rem;
}
