.App {
  text-align: center;
}

.Nav {
  background:black;
}

.logo {
  height:75px;
}

.badgeLogo {
  height: 100px;
}

.badgedesc {
  font-size: 18px;
  font-weight: bold;
}

.badgecompdate {
  font-size: 14px;
}

.skillslogo {
  font-size: 5rem;
}

.intro {
  background-color: #272822;
  color: whitesmoke;
}

.projects {
  background-color: #272822;
  color: whitesmoke;
}

.form {
  background-color:#272822;
  color:whitesmoke
}

.socialicon {
  color:#272822;
  font-size: 2rem;
}